In [446]:
import json 
import pandas as pd 
import numpy as np
with open('response_demo.json') as f:
    d = json.load(f)
# ponemos los datos en un dataframe
# uso un demo con solo dos inmuebles para que se mas facil de leer
# limito a dos la profundidad de las busque del arbol y defino a resultados como mi nodo originario
results = pd.json_normalize(d,record_path=["results"],max_level=2)

In [447]:
results

,id,site_id,title,price,sale_price,currency_id,available_quantity,sold_quantity,buying_mode,listing_type_id,...,location.neighborhood.id,location.neighborhood.name,location.city.id,location.city.name,location.state.id,location.state.name,location.country.id,location.country.name,location.latitude,location.longitude
0,MLA1131635093,MLA,Departamento - Palermo Viejo,65000,None,ARS,1,0,classified,gold_premium,...,TUxBQlBBTDE5ODla,Palermo Viejo,TUxBQ0NBUGZlZG1sYQ,Capital Federal,TUxBUENBUGw3M2E1,Capital Federal,AR,Argentina,-34.59470,-58.429170
1,MLA1131872927,MLA,Departamento - Caballito,43500,None,ARS,1,0,classified,gold_premium,...,TUxBQkNBQjM4MDda,Caballito,TUxBQ0NBUGZlZG1sYQ,Capital Federal,TUxBUENBUGw3M2E1,Capital Federal,AR,Argentina,-34.61696,-58.457867

In [274]:
atributed_nest[0] #es una lista por eso no se puede aplanar automaticamente

[{'attribute_group_id': '',
  'id': 'ITEM_CONDITION',
  'name': 'Condición del ítem',
  'value_struct': None,
  'values': [{'name': 'Usado', 'struct': None, 'source': 1, 'id': '2230581'}],
  'value_id': '2230581',
  'value_name': 'Usado',
  'attribute_group_name': '',
  'source': 1},
 {'id': 'HAS_TELEPHONE_LINE',
  'name': 'Línea telefónica',
  'value_name': 'Sí',
  'values': [{'source': 4709975701260268,
    'id': '242085',
    'name': 'Sí',
    'struct': None}],
  'attribute_group_id': 'CARACTERISTICAS',
  'value_id': '242085',
  'value_struct': None,
  'attribute_group_name': 'Características adicionales',
  'source': 4709975701260268},
 {'name': 'Aire acondicionado',
  'value_struct': None,
  'attribute_group_id': 'COMOYAMEN',
  'source': 4709975701260268,
  'id': 'HAS_AIR_CONDITIONING',
  'value_id': '242084',
  'value_name': 'No',
  'values': [{'source': 4709975701260268,
    'id': '242084',
    'name': 'No',
    'struct': None}],
  'attribute_group_name': 'Comodidades y amenities'},
 {'values': [{'name': '2',
    'struct': None,
    'source': 4709975701260268,
    'id': None}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'name': 'Dormitorios',
  'value_id': None,
  'value_name': '2',
  'value_struct': None,
  'id': 'BEDROOMS'},
 {'value_struct': {'number': 48, 'unit': 'm²'},
  'values': [{'id': None,
    'name': '48 m²',
    'struct': {'number': 48, 'unit': 'm²'},
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'id': 'COVERED_AREA',
  'value_id': None,
  'value_name': '48 m²',
  'name': 'Superficie cubierta'},
 {'values': [{'id': None,
    'name': '1',
    'struct': None,
    'source': 4709975701260268}],
  'attribute_group_name': 'Ficha técnica',
  'source': 4709975701260268,
  'id': 'FULL_BATHROOMS',
  'name': 'Baños',
  'value_struct': None,
  'value_id': None,
  'value_name': '1',
  'attribute_group_id': 'FIND'},
 {'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'name': 'Ambientes',
  'value_id': None,
  'value_name': '3',
  'value_struct': None,
  'values': [{'name': '3',
    'struct': None,
    'source': 4709975701260268,
    'id': None}],
  'id': 'ROOMS',
  'source': 4709975701260268},
 {'id': 'TOTAL_AREA',
  'name': 'Superficie total',
  'value_id': None,
  'values': [{'id': None,
    'name': '51 m²',
    'struct': {'unit': 'm²', 'number': 51},
    'source': 4709975701260268}],
  'attribute_group_id': 'FIND',
  'attribute_group_name': 'Ficha técnica',
  'value_name': '51 m²',
  'value_struct': {'number': 51, 'unit': 'm²'},
  'source': 4709975701260268},
 {'name': 'Operación',
  'value_name': 'Alquiler',
  'values': [{'struct': None,
    'source': 1,
    'id': '242073',
    'name': 'Alquiler'}],
  'attribute_group_id': 'MAIN',
  'attribute_group_name': 'Principales',
  'id': 'OPERATION',
  'value_id': '242073',
  'value_struct': None,
  'source': 1},
 {'id': 'PROPERTY_TYPE',
  'value_id': '242062',
  'value_struct': None,
  'source': 1,
  'name': 'Inmueble',
  'value_name': 'Departamento',
  'values': [{'id': '242062',
    'name': 'Departamento',
    'struct': None,
    'source': 1}],
  'attribute_group_id': 'MAIN',
  'attribute_group_name': 'Principales'}]

In [459]:
columns_name = []
for i in range(10):
    columns_name.append(atributed_nest[0][i]["name"])

atributed_table0 = pd.DataFrame(columns = columns_name)
atributed_table0

Empty DataFrame
Columns: [Condición del ítem, Línea telefónica, Aire acondicionado, Dormitorios, Superficie cubierta, Baños, Ambientes, Superficie total, Operación, Inmueble]
Index: []

In [463]:
columns_value = []
for i in range(10):
    columns_value.append(atributed_nest[0][i]["value_name"])

serie_toAdd = pd.Series(columns_value, index = atributed_table0.columns)

atributed_table0.append(serie_toAdd,  ignore_index=True)

columns_value1 = []
for i in range(10):
    columns_value1.append(atributed_nest[1][i]["value_name"])

atributed_table1 = pd.DataFrame(columns = columns_name)
serie_toAdd = pd.Series(columns_value1, index = atributed_table1.columns)
atributed_table0.append(serie_toAdd,  ignore_index=True)

pd.concat([atributed_table0,atributed_table1])

Empty DataFrame
Columns: [Condición del ítem, Línea telefónica, Aire acondicionado, Dormitorios, Superficie cubierta, Baños, Ambientes, Superficie total, Operación, Inmueble]
Index: []

In [453]:
for i in range(len(results)):
    columns_value = []
    for j in range(10):
        columns_value.append(atributed_nest[i][j]["value_name"])
        print(columns_value)
    serie_toAdd = pd.Series(columns_value, index = atributed_table.columns)
    print(serie_toAdd)
    atributed_table.append(serie_toAdd, ignore_index=True)
    print(atributed_table)

['Usado']
['Usado', 'Sí']
['Usado', 'Sí', 'No']
['Usado', 'Sí', 'No', '2']
['Usado', 'Sí', 'No', '2', '48 m²']
['Usado', 'Sí', 'No', '2', '48 m²', '1']
['Usado', 'Sí', 'No', '2', '48 m²', '1', '3']
['Usado', 'Sí', 'No', '2', '48 m²', '1', '3', '51 m²']
['Usado', 'Sí', 'No', '2', '48 m²', '1', '3', '51 m²', 'Alquiler']
['Usado', 'Sí', 'No', '2', '48 m²', '1', '3', '51 m²', 'Alquiler', 'Departamento']
Condición del ítem            Usado
Línea telefónica                 Sí
Aire acondicionado               No
Dormitorios                       2
Superficie cubierta           48 m²
Baños                             1
Ambientes                         3
Superficie total              51 m²
Operación                  Alquiler
Inmueble               Departamento
dtype: object
Empty DataFrame
Columns: [Condición del ítem, Línea telefónica, Aire acondicionado, Dormitorios, Superficie cubierta, Baños, Ambientes, Superficie total, Operación, Inmueble]
Index: []
['Usado']
['Usado', 'No']
['Usado', 'No', 'No']
['Usado', 'No', 'No', '1']
['Usado', 'No', 'No', '1', '39 m²']
['Usado', 'No', 'No', '1', '39 m²', '1']
['Usado', 'No', 'No', '1', '39 m²', '1', '2']
['Usado', 'No', 'No', '1', '39 m²', '1', '2', '42 m²']
['Usado', 'No', 'No', '1', '39 m²', '1', '2', '42 m²', 'Alquiler']
['Usado', 'No', 'No', '1', '39 m²', '1', '2', '42 m²', 'Alquiler', 'Departamento']
Condición del ítem            Usado
Línea telefónica                 No
Aire acondicionado               No
Dormitorios                       1
Superficie cubierta           39 m²
Baños                             1
Ambientes                         2
Superficie total              42 m²
Operación                  Alquiler
Inmueble               Departamento
dtype: object
Empty DataFrame
Columns: [Condición del ítem, Línea telefónica, Aire acondicionado, Dormitorios, Superficie cubierta, Baños, Ambientes, Superficie total, Operación, Inmueble]
Index: []

In [454]:
for j in range(10):
    for i in range(len(results)):
        atributed_nest[i][j]["value_name"])
                #sale una columna atras de la otra,

SyntaxError: invalid syntax (1033025670.py, line 3)

 la idea seria que haya una columna con el nombre de cada atribudo y que en la fila del item este el valor,
 por ejemplo en la en en la columna telefono diria si

In [465]:
prices_nest[0]#es una lista por eso no se sigue aplanando, algo parecido a los atributos

[{'id': '1',
  'type': 'standard',
  'amount': 65000,
  'regular_amount': None,
  'currency_id': 'ARS',
  'last_updated': '2022-04-11T18:23:37Z',
  'conditions': {'context_restrictions': [],
   'start_time': None,
   'end_time': None,
   'eligible': True},
  'exchange_rate_context': 'DEFAULT',
  'metadata': {}}]

In [434]:
last_update = prices_nest[0]
#adentro de la lista hay un diccionario
last_update[0]["last_updated"]

'2022-04-11T18:23:37Z'

In [448]:
selection = results[["id","price","currency_id","stop_time","condition","official_store_id","seller.id","location.latitude","location.longitude","location.address_line","location.neighborhood.name","location.country.id"]]

In [451]:
len(selection.columns)

12

In [464]:
selection

,id,price,currency_id,stop_time,condition,official_store_id,seller.id,location.latitude,location.longitude,location.address_line,location.neighborhood.name,location.country.id
0,MLA1131635093,65000,ARS,2022-06-10T04:00:00.000Z,used,NaN,138924430,-34.59470,-58.429170,Araoz al 1100,Palermo Viejo,AR
1,MLA1131872927,43500,ARS,2022-06-11T04:00:00.000Z,used,2695.0,155651025,-34.61696,-58.457867,Donato Alvarez al 700,Caballito,AR